@font-face {
  src: url('../tipografias/interestate_rc.otf');
  font-family: interestate_rc;
}
@font-face {
  src: url('../tipografias/DancingScript-Regular.otf');
  font-family: Dancing;
}
@font-face {
  src: url('../tipografias/Roboto-Regular.ttf');
  font-family: roboto;
}
#display_admin{
  height:90%;
}
#main .contorno{
  padding:10%;
  padding-top:0;
  padding-bottom:0;
}
#display_admin .display{
  height:100%;
}

.display aside{
  width:20%;
  height:630px;
  background-color:#F2B446;
  border-radius:20px;
  overflow: hidden;
  float:left;
}
.display aside td{
  font-family:"roboto";
  font-size: 1rem;
}
.display aside table tr:hover{
  background-color:#141E26;
  cursor:pointer;
  font-weight:bold;
  color:#fff;
}
.display section{
  width:80%;
  height:100%;
  padding:2%;
  float:left;
}
.display section .margen_display{
  width:96%;
  height:96%;
  background-color:#fff;
  margin:2%;
  padding:2%;
}
.pantallas{
  float:left;
  width:100%;
  height:600px;
  padding:5%;
  overflow-y: scroll;
  /* border-bottom:solid 10px rgb(20, 30, 38); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#registro_aula .form-group input,select{
  float:right;
}
#Registrar{
  padding-left:15%;
}
#Registrar h2{
  font-family: Helvetica;
  margin:8%;
  margin-top:0;
}
.cont-pantallas-form{
  margin-left:10%;
  width:80%;
  height:100%;
}
#separation{
  font-weight:bold;
  font-size:30px;
  text-align: center;
  padding:0;
  height:40px;
  float:left;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.import_section{
  width:100%;
  height:400px;
  font-family: "Calibri light";
}
.import_section p{
  font-size: 1em;
  font-weight:bold;
  line-height: 2px;
  color:#444;
  margin:5%;
}
.import_section .tabla_muestra{
  background-color:#eee;
}
.box-chart{
  background-color:#ddd;
  padding-top:2%;
  padding-left:1%;
  border-radius:5px;
  font-family:"Calibri light", Helvetica;
  font-weight:bold;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.61);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.61);
}
.cont-export{
  width:100%;
  height:150px;
  display: flex;
  align-items: center;
  text-align:center;
}
.cont-export .fondo{
  width:60%;
  height:40%;
  margin:0 auto;
  display: flex;
  align-items: center;
  text-align:center;
  background-color:purple;
  border-radius:30px;
}
.cont-export .col-sm-8, .col-sm-4{
  padding:0;
}
.cont-export .btn-cont{
  width:90%;
  margin:0px auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.btn-cont .boton{
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  border:0;
  padding-left:5%;
  padding-right:5%;
  color:#fff;
  font-weight:bold;
  background-color:blue;
}
